.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
    margin: 0 auto;
}

.navBar {
    width: 100%;
}
