.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3rem 5rem;
}
.container {
    flex-basis: 22%;
    margin: 10px 0 10px 32px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.thumbnail {
    width: 100%;
}
.thumbnail-img {
    width: 100%;
    object-fit: cover;
}
.details {
    margin-top: -5px;
    padding: 20px;
    background-color: var(--elements-primary);
    color: var(--text-primary);
    line-height: 2.4rem;
}
.name {
    padding-bottom: 10px;
}
